bleach==5.0.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
commonmark==0.9.1
distlib==0.3.4
docutils==0.18.1
filelock==3.6.0
identify==2.4.12
idna==3.3
importlib-metadata==4.11.3
keyring==23.5.0
nodeenv==1.6.0
numpy==1.22.3
pkginfo==1.8.2
platformdirs==2.5.1
Pygments==2.11.2
PyYAML==6.0
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
toml==0.10.2
twine==4.0.0
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.14.0
webencodings==0.5.1
zipp==3.8.0
